body {
margin:1rem;
font-family: sans-serif;
line-height: 1.5;
background-color:#3A86FF;
padding:20px;
}

p, li {
  font-family: "Playwrite DE SAS Guides", cursive;
  font-weight: 400;
  font-style: normal;
color:whitesmoke; 
}


h1,h2{
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:432 ;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
color:peachpuff;

}
 h1{
 font-size:36pt;}
.Farras{
  background-color:darkblue;
  padding:37px;
  margin:35px;
border-radius:60px;
}
.Mirza{
  padding: 60px;
}
nav ul li{
list-style-type:none;
display:inline;
padding:10px;
}
nav{
background-color:#FFFAD3;
padding:7px;
border-style:dashed;
border-color:#E11A45;
border-width:3px;
border-radius:25px;
}
nav ul li a{
text-decoration:none;
color:black;
}